<div class="overlay_pending_request">
  <ion-row class="ion-align-items-center">
    <ion-col size="12">
      <ion-card>
        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            <img src="./assets/icon/icon_transaction_pending.svg" alt="">
            <p id="title_pending">{{('components.overlayPendingRequest.' + this.translateIndex + '.title') | translate}}</p>
            <p id="label_info_pending">{{('components.overlayPendingRequest.' + this.translateIndex + '.message') | translate}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-button fill="solid" shape="round" id="btn_close" (click)="closeOverlay()">Ok</ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
</div>