<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" shape="round" color="primary" (click)="closeModal()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'pages.marketplace.marketplaceCategories.labelPageTitle' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-label id="label_cart_value">{{cartValue | currency:localeData.currency:'symbol-narrow':'.0-2':localeData.localeID}}</ion-label>
      <ion-card class="shopping_cart" (click)="openShoppingCart()">
        <ion-badge color="primary" *ngIf="shoppingCartList.length > 0">
          {{shoppingCartList.length}}
        </ion-badge>
        <img src="./assets/icon/icon_shopping_basket.svg" alt="">
      </ion-card>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider lines="none" sticky>
    <!-- Page header -->
    <ion-row id="row_categories_header" class="ion-align-items-center">
      <ion-col id="wrap_notifications_promo" size="12" *ngIf="!statusOfFollowingVendor">
        <ion-row class="ion-align-items-center">
          <ion-col size="auto">
            <ion-icon src="./assets/icon/icon_promo_notification.svg"></ion-icon>
          </ion-col>
          <ion-col>
            <p id="label_notifications_promotions">{{'pages.marketplace.marketplaceCategories.labelInfoPromoNotifications' | translate}}</p>
          </ion-col>
          <ion-col size="auto">
            <ion-button color="tertiary" fill="clear" size="small" (click)="updateVendorFollowingStatus()">
              {{'buttons.buttonTurnOn' | translate}}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- Store Logo -->
      <!-- <ion-col size="3">
        <div class="wrap_vendor_logo">
          <img [src]="vendor.imageUrl"
            onerror="this.onerror==null;this.src='./assets/icon/icon_food_marketplace.svg'" />
        </div>
      </ion-col> -->
      <!-- Shopping cart details -->
      <!-- <ion-col size="8" class="wrap_shopping_cart">
        <ion-card button mode="ios" class="btn_shopping_cart" (click)="openShoppingCart()">
          <ion-badge color="primary">
            {{(shoppingCartList | async)?.length}}
          </ion-badge>
          <img src="./assets/icon/icon_shopping_basket.svg" alt="">
        </ion-card>
        <p class="label_total_cart">
          {{cartValue| currency:localeData.currency:'symbol-narrow':'.0-2':localeData.localeID}}</p>
      </ion-col> -->
      <!-- Minimum order progress -->
      <ion-col [size]="vendor?.deliveryFeeThreshold !== null ? 6 : 12">
        <ion-row class="row_progress_minimum_order ion-align-items-center">
          <ion-col size="2">
            <img [src]="cartValue < vendor.minimumOrderValue ? './assets/icon/icon_shopping_basket.svg' : './assets/icon/icon_shopping_basket_minimum_done.svg'" alt="">
          </ion-col>
          <ion-col size="10" class="col_progress">
            <div>
              <div class="progres_outer">
                <div class="progres_inner" [style.max-width]="(cartValue * 100 / vendor.minimumOrderValue) + '%'"></div>
              </div>
              <div class="wrap_text">
                <p><span class="label_progress">Minimum order </span>
                  <span class="label_value_required">{{vendor.minimumOrderValue | currency:localeData.currency:'symbol-narrow':'.0-2':localeData.localeID}}</span></p>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="6">
        <ion-row class="row_progress_minimum_order ion-align-items-center" *ngIf="vendor?.deliveryFeeThreshold !== null">
          <ion-col size="2">
            <img [src]="cartValue < vendor.deliveryFeeThreshold ? './assets/icon/icon_minimum_order_free_shipping_incomplete.svg' : './assets/icon/icon_minimum_order_free_shipping_done.svg'" alt="">
          </ion-col>
          <ion-col size="10" class="col_progress">
            <div>
              <div class="progres_outer">
                <div class="progres_inner" [style.max-width]="(cartValue * 100 / vendor.deliveryFeeThreshold) + '%'"></div>
              </div>
              <div class="wrap_text">
                <p><span class="label_value_required">
                  <span class="label_progress">{{'pages.marketplace.marketplaceCategories.labelAddMore' | translate}}</span>
                  {{ (vendor.deliveryFeeThreshold > cartValue ? (vendor.deliveryFeeThreshold - cartValue) : 0) | currency:localeData.currency:'symbol-narrow':'.0-2':localeData.localeID}}
                </span></p>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-item-divider>

  <!-- NEW UI List of categories -->
  <div id="wrap_categories_list" *ngIf="categories.length > 0">
    <ion-list [@listAnimation]="categories.length">
      <ion-item button lines="none" *ngFor="let category of categories; let i = index" (click)="openMarketplaceProducts(category)">
        <ion-row class="ion-align-items-center">
          <ion-col size="auto">
            <img [src]="category.imgUrl != null ? ('https://static.use-beez.com' + category.imgUrl | convertPathOfShopImage:'~/') : './assets/icon/icon_food_marketplace.svg'"
            onerror="this.onerror==null;this.src='./assets/icon/icon_food_marketplace.svg'" alt="category_img">
          </ion-col>
          <ion-col><ion-label>{{category.name}}</ion-label></ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>

  <!-- List of Categories -->
  <!-- <ion-row class="row_category_list" *ngIf="categories.length > 0">
    <ion-col class="grid_column" size-xl="4" size-lg="4" size-md="6" size-xs="6"
      *ngFor="let category of categories; let i = index" @bounceIn>
      <ion-card button class="category_cardview" #shopCardview (click)="openMarketplaceProducts(category)">
        <img
          [src]="category.imgUrl != null ? ('https://static.use-beez.com' + category.imgUrl | convertPathOfShopImage:'~/') : './assets/icon/icon_food_marketplace.svg'"
          onerror="this.onerror==null;this.src='./assets/icon/icon_food_marketplace.svg'" alt="category_img">
      </ion-card>
      <p class="label_category_name">{{category.name | titlecase}}</p>
    </ion-col>
  </ion-row> -->
  <div id="wrap_empty_list" *ngIf="categories.length < 1">
    <img src="./assets/imgs/bee-characters/icon_pending_bee.svg" alt="">
  </div>
</ion-content>