.notifications_category {
    color: var(--ion-color-secondary);
    font-size: 1rem;
    font-weight: 500;
}

.label_checkbox {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--ion-color-tertiary);
}
