#wrap_add_beez_voucher {
    width: 100%;
    max-width: 576px;
    margin: 0.5em auto;
    padding: 2em;
    text-align: center;

    .title {
        color: var(--ion-color-dark-tint);
    }

    .subtitle {
        color: var(--ion-color-medium);
    }

    .content {
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .item_voucher_code {
        width: 100%;
    }

    .btn_apply_voucher {
        width: 100%;
        max-width: 20em;
        margin-top: 1em;
    }
}

.item_voucher_code {
    --min-height: 60px;
    margin: 1em;
    --highlight-color-valid: #ddd;
    --background: #f3f3f3;
    --border-radius: 0.5em;

    ion-icon {
        margin-right: 0.3em;
        font-size: 1.4em;
        color: var(--ion-color-secondary-tint);
        transform: rotate(-95deg);
    }
}

#wrap_beez_vouchers {
    width: 100%;
    max-width: 576px;
    margin: 0em auto;

    #card_voucher {
        margin-top: 0em;
        margin-bottom: 1em;
    }

    #card_voucher:first-of-type {
        margin-top: 2em;
    }

    #card_voucher:last-of-type {
        margin-bottom: 2em;
    }

    #card_voucher ion-col {
        padding: 0;
    }

    .wrap_icon_pricetag {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2em;
        height: 2em;
        margin: auto;
        color: #fff;
        background-color: var(--ion-color-primary);
        border-radius: 0.5em;
    }

    .wrap_icon_pricetag ion-icon {
        font-size: 1rem;
        transform: rotate(-95deg);
    }

    .label_voucher_code {
        margin-bottom: 0em;
        padding-left: 1em;
        color: var(--ion-color-secondary-tint);
    }

    .label_voucher_discount {
        margin-top: 0.5em;
        padding-left: 1em;
        color: var(--ion-color-medium);
    }

    .wrap_voucher_code {
        align-self: stretch;
        border-left: 1px outset var(--ion-color-light-shade);
    }

    .btn_remove_voucher {
        float: right;
    }
}

ion-footer ion-toolbar {
    padding: 1em;
    ion-button {
        margin: auto;
        max-width: 30em;
    }
}
