<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" fill="clear" shape="round" (click)="closeModal()">
        <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'pages.resetPassword.titleForgotPassword' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img id="img_forgot_password" src="./assets/imgs/bee-characters/Bee-ForgotPassword.svg" alt="bee_forgot_password"
    *ngIf="resetPasswordResponse == undefined" @beeAnimation>
  <div id="wrap_form" *ngIf="resetPasswordResponse == undefined">
    <ion-row>
      <ion-col size="12">
        <p id="label_reset_password">{{'pages.resetPassword.labelResetPassword' | translate}}</p>
      </ion-col>
    </ion-row>
    <form [formGroup]="resetPasswordForm">
      <ion-item>
        <ion-label position="floating">Email<ion-text color="primary">*</ion-text>
        </ion-label>
        <ion-input required formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-button id="btn_submit" shape="round" size="small" expand="block" color="primary" (click)="selectAccountCountry()"
        [disabled]="resetPasswordForm.invalid">
        {{'pages.resetPassword.buttonResetPassword' | translate}}
      </ion-button>
    </form>
  </div>
  <ion-row id="wrap_response" *ngIf="resetPasswordResponse != undefined">
    <ion-col size="12">
      <!-- Response SUCCESS -->
      <div>
        <p id="title_check_email" *ngIf="resetPasswordResponse?.status == 'success'">
          {{'pages.resetPassword.labelCheckYourEmail' | translate}}</p>
        <ion-icon src="./assets/icon/checked.svg" *ngIf="resetPasswordResponse?.status == 'success'"></ion-icon>
        <p id="label_success" *ngIf="resetPasswordResponse?.status == 'success'">
          {{'pages.resetPassword.successMessage' | translate}}</p>
        <ion-button *ngIf="resetPasswordResponse?.status == 'success'" id="btn_submit" shape="round" size="small"
          expand="block" color="primary" (click)="closeModal()">
          {{'buttons.buttonClose' | translate}}
        </ion-button>
      </div>
      <!-- Response ERROR -->
      <div>
        <p id="title_check_email" *ngIf="resetPasswordResponse?.status == 'error'">
          {{'pages.resetPassword.labelError' | translate}}</p>
        <ion-icon src="./assets/imgs/bee-characters/Bee-ForgotPassword.svg"
          *ngIf="resetPasswordResponse?.status == 'error'"></ion-icon>
        <p id="label_success" *ngIf="resetPasswordResponse?.status == 'error'">
          {{'pages.resetPassword.labelErrorEmail' | translate}}</p>
        <ion-button *ngIf="resetPasswordResponse?.status == 'error'" id="btn_submit" shape="round" size="small"
          expand="block" color="primary" (click)="resetPasswordResponse = undefined">
          {{'pages.resetPassword.buttonTryAgain' | translate}}
        </ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-content>