#img_forgot_password {
    display: block;
    width: 10em;
    height: auto;
    margin: 3em auto 0 auto;
}
#wrap_form {
    margin-top: 2em;
    padding: 1em 3em;
    #label_reset_password {
        text-align: center;
        font-size: 1em;
    }
}
#btn_submit{
    max-width: 60%;
    margin: 4em auto;
    text-transform: none;
}
#wrap_response {
    margin-top: 16%;
    padding: 2em 3em;
    #title_check_email {
        text-align: center;
        font-size: 1.2em;
        font-weight: 500;
        color: var(--ion-color-medium);
    }
    ion-icon {
        margin: 1em auto;
        display: block;
        font-size: 4em;
    }
    #label_success {
        text-align: center;
        font-size: 1em;
        color: var(--ion-color-medium);
    }
}