<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" shape="round" color="primary" (click)="closeModal()">
        <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-title>{{selectedCategory.name | titlecase}}</ion-title> -->
    <ion-row id="row_searchbar">
      <ion-col>
        <ion-searchbar placeholder="{{'pages.marketplace.marketplaceCategories.labelSearchTheProduct' | translate}}"
          inputmode="text" type="text" (ionChange)="searchProduct($event.target.value)" (ionClear)="cancelSearch()"
          [debounce]="1000" mode="ios" showCancelButton="never"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-buttons slot="end">
      <ion-label id="label_cart_value">
        {{cartValue | currency:localeData.currency:'symbol-narrow':'.0-2':localeData.localeID}}</ion-label>
      <ion-card class="shopping_cart" (click)="openShoppingCart()" @bounceIn>
        <ion-badge color="primary" *ngIf="shoppingCartList.length > 0">
          {{shoppingCartList.length}}
        </ion-badge>
        <img src="./assets/icon/icon_shopping_basket.svg" alt="">
      </ion-card>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Page header -->
  <ion-item-divider lines="none" sticky>
    <!-- PAGE HEADER -->
    <ion-row class="row_page_header ion-align-items-center">
      <ion-col size="12">
        <ion-card>
          <ion-row id="row_preview_vendor" class="ion-align-items-center">
            <!-- Vendor logo -->
            <ion-col size="auto">
              <img id="vendor_logo" [src]="vendor.imageUrl"
                onerror="this.onerror==null;this.src='./assets/icon/icon_food_marketplace.svg'" />
            </ion-col>
            <!-- Preview progress minimum order value and delivery fee treshold -->
            <ion-col>
              <ion-row>
                <!-- Minimum order progress -->
                <ion-col size="12">
                  <ion-row class="row_progress_minimum_order ion-align-items-center">
                    <ion-col size="2">
                      <img
                        [src]="cartValue < vendor.minimumOrderValue ? './assets/icon/icon_shopping_basket.svg' : './assets/icon/icon_shopping_basket_minimum_done.svg'"
                        alt="">
                    </ion-col>
                    <ion-col size="10" class="col_progress">
                      <div>
                        <div class="progres_outer">
                          <div class="progres_inner"
                            [style.max-width]="(cartValue * 100 / vendor.minimumOrderValue) + '%'"></div>
                        </div>
                        <div class="wrap_text">
                          <p><span class="label_progress">Minimum order </span>
                            <span
                              class="label_value_required">{{vendor.minimumOrderValue | currency:localeData.currency:'symbol-narrow':'.0-2':localeData.localeID}}</span>
                          </p>
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <!-- Delivery Fee Treshold -->
                <ion-col size="12">
                  <ion-row class="row_progress_minimum_order ion-align-items-center"
                    *ngIf="vendor?.deliveryFeeThreshold !== null">
                    <ion-col size="2">
                      <img
                        [src]="cartValue < vendor.deliveryFeeThreshold ? './assets/icon/icon_minimum_order_free_shipping_incomplete.svg' : './assets/icon/icon_minimum_order_free_shipping_done.svg'"
                        alt="">
                    </ion-col>
                    <ion-col size="10" class="col_progress">
                      <div>
                        <div class="progres_outer">
                          <div class="progres_inner"
                            [style.max-width]="(cartValue * 100 / vendor.deliveryFeeThreshold) + '%'">
                          </div>
                        </div>
                        <div class="wrap_text">
                          <p><span class="label_value_required">
                              <span
                                class="label_progress">{{'pages.marketplace.marketplaceCategories.labelAddMore' | translate}}</span>
                              {{ (vendor.deliveryFeeThreshold > cartValue ? (vendor.deliveryFeeThreshold - cartValue) : 0) | currency:localeData.currency:'symbol-narrow':'.0-2':localeData.localeID}}
                            </span></p>
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <!-- Toggle Promo Notifications -->
          <ion-row id="row_toggle_notifications" class="ion-align-items-center" *ngIf="statusOfFollowingVendor !== null">
            <ion-col size="auto">
              <ion-icon class="icon_promo" src="./assets/icon/icon_promo_notification.svg"></ion-icon>
            </ion-col>
            <ion-col>
              <p id="label_notifications">
                {{'pages.marketplace.marketplaceCategories.labelInfoPromoNotifications' | translate}}</p>
            </ion-col>
            <ion-col size="auto">
              <ion-toggle color="primary" mode="ios" [(ngModel)]="statusOfFollowingVendor"
                (ionChange)="updateVendorFollowingStatus(statusOfFollowingVendor)"></ion-toggle>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>

      <!-- CATEGORIES HORIZONTAL LIST -->
      <ion-col size="12">
        <div id="row_switch_category" *ngIf="allCategories?.length > 1">
          <div id="list_of_categories" scrollX="true">
            <ion-card button mode="md"
              [ngClass]="{'active_category': category.name === selectedCategory.name && context !== 'search'}"
              *ngFor="let category of allCategories" (click)="updateActiveCategory(category)">
              <ion-row class="ion-align-items-center">
                <ion-col size="auto">
                  <div class="wrap_category_image">
                    <img
                      [src]="selectedCategory.imgUrl != null ? ('https://static.use-beez.com' + category.imgUrl | convertPathOfShopImage:'~/') : './assets/icon/icon_placeholder_marketplace.svg'"
                      onerror="this.onerror==null;this.src='./assets/icon/icon_placeholder_marketplace.svg'" />
                  </div>
                </ion-col>
                <ion-col>
                  <p class="label_category_name">{{category.name}}</p>
                </ion-col>
              </ion-row>
            </ion-card>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-item-divider>
  <!-- Products list -->
  <ion-row *ngFor="let product of productsList" class="row_products_list"
    (click)="openMarketplaceProductsDetails(product)">
    <!-- Product image -->
    <ion-col size="3" class="centered_content">
      <!-- Product image -->
      <ion-row class="row_product_image">
        <ion-col size="12" class="centered_content">
          <img class="product_image"
            [src]="product.imgUrl != null ? ('https://static.use-beez.com' + product.imgUrl | convertPathOfShopImage:'~/') : './assets/icon/icon_placeholder_marketplace.svg'"
            onerror="this.onerror==null;this.src='./assets/icon/icon_placeholder_marketplace.svg'" alt="">
        </ion-col>
      </ion-row>
    </ion-col>
    <!-- Product details -->
    <ion-col size="7">
      <p class="label_product_name">{{product.name | titlecase}}</p>
      <p class="label_product_details" [innerHTML]="product.weightInKG"></p>
      <p class="label_product_price"><span>{{'pages.marketplace.marketplaceProducts.labelYouPay' | translate}}</span>
        {{product?.unitValue | currency:localeData?.currency:'symbol-narrow':'.0-2':localeData?.localeID}}
        <span class="label_unit_type">&nbsp;/{{product.unitType | lowercase}}</span>
      </p>
      <p class="label_cashback">{{'pages.marketplace.marketplaceProducts.labelCashbackPercent' | translate}}&nbsp;<span>
          {{vendor.cashback}}</span></p>
    </ion-col>
    <!-- Button add -->
    <ion-col size="2" class="centered_content">
      <ion-button fill="clear" shape="round" size="small">
        <ion-icon name="add-circle" class="icon_add_to_cart"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <!-- No products -->
  <div id="wrap_empty_list" *ngIf="productsList.length < 1">
    <!-- <p id="_title_empty_list"></p> -->
    <img src="./assets/imgs/bee-characters/icon_pending_bee.svg" alt="">
  </div>
</ion-content>