<ion-header>
  <ion-toolbar>
    <!-- View/Change active location -->
    <ion-row id="row_location_dropdown" class="ion-align-items-center" (click)="openMarketplaceLocations()">
      <ion-col size="auto">
        <ion-icon id="icon_pin_location" color="primary" name="location-sharp"></ion-icon>
      </ion-col>
      <ion-col>
        <p>{{city?.Name}}, {{county?.Name}}</p>
      </ion-col>
      <ion-col size="auto">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <!-- Search product/category -->
    <ion-searchbar mode="ios" [placeholder]="'pages.home.placeholderSearch' | translate" inputmode="text"
      (keyup.enter)="onSearchChange($event.target.value)" (ionChange)="onSearchChange($event.target.value)"
      [debounce]="600"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Section Slides with General Info -->
  <app-slides-general-info></app-slides-general-info>

  <!-- Section MetaCategories List -->
  <div id="metacategories_list" *ngIf="metacategories && !searchResult && metacategories.length != 0">
    <!-- List Header: title & toggle view -->
    <ion-item-divider sticky class="section_header">
      <ion-row class="ion-align-items-center">
        <ion-col>
          <p class="section_title">{{'pages.home.labelCategories' | translate}}</p>
        </ion-col>
        <ion-col size="auto">
          <ion-button color="primary" fill="clear" shape="round" size="small"
            (click)="toggleViewMode('metacategoriesList')">
            {{(showAllMetacategories ? 'pages.home.buttons.buttonViewLess' : 'pages.home.buttons.buttonViewAll') |
            translate}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-item-divider>
    <!-- MetaCategories list - horizontal | vertical mode -->
    <div [class]="showAllMetacategories ? 'wrap_vertical_list' : 'wrap_horizontal_list'"
      [@listAnimation]="metacategories.length">
      <ion-card button class="cardview_metacategory" [class]="activeCategory == category ? 'active_selection' : ''"
        *ngFor="let category of metacategories"
        [style.background]="category.heroPicture ? 'url('+category.heroPicture+')' : 'url(\'../../../assets/icon/icon_food_marketplace_dark.svg\')'"
        (click)="selectMetacategory(category)">
        <div class="wrap_category_title">
          <p>{{category.name}}</p>
        </div>
        <div class="overlay_black_filter"></div>
      </ion-card>
    </div>
  </div>

  <ion-row *ngIf="vendorsList?.length == 0 && vendorsWithActivePromotions.length == 0" class="row_empty_vendors_list">
    <ion-col sizeXs="12" sizeMd="4">
      <img src="./assets/icon/icon_empty_vendors_list.svg" alt="">
    </ion-col>
    <ion-col sizeXs="12" sizeMd="8">
      <h5 class="title">
        {{'pages.home.emptyVendorsList.title' | translate}}
      </h5>
      <p class="content" [innerHTML]="'pages.home.emptyVendorsList.content' | translate | safeHTML">
      </p>
      <ion-button expand="block" fill="solid" [color]="newVendorNotificationsStatus ? 'medium':'primary'" shape="round"
        (click)="toggleNewVendorNotifications()">
        {{ (newVendorNotificationsStatus ? 'buttons.buttonTurnOff' : 'buttons.buttonTurnOn') | translate}}
      </ion-button>
    </ion-col>
  </ion-row>

  <!-- Section Vendors List -->
  <div id="vendors_list" *ngIf="vendorsList && !searchResult && vendorsList?.length !== 0">
    <!-- List Header: title & toggle view & active filter(selected metacategory) -->
    <ion-item-divider sticky class="section_header">
      <ion-row class="ion-align-items-center">
        <ion-col>
          <!-- Title -->
          <p class="section_title">{{'pages.home.labelVendors' | translate}}</p>
        </ion-col>
        <ion-col size="auto">
          <!-- Toggle view mode -->
          <ion-button color="primary" fill="clear" shape="round" size="small" (click)="toggleViewMode('vendorsList')">
            {{(showAllVendors ? 'pages.home.buttons.buttonLess' : 'pages.home.buttons.buttonMore') | translate}}
          </ion-button>
        </ion-col>
        <ion-col size="12">
          <!-- View Active filter | metacategory (button remove filter) -->
          <ion-card id="btn_active_category_reset" button *ngIf="showAllVendors && activeCategory"
            (click)="activeCategory = null">
            <ion-row class="ion-align-items-center">
              <ion-col size="auto">
                <p id="label_filter">{{'pages.home.labelActiveFilter' | translate}}</p>
              </ion-col>
              <ion-col id="col_active_category">
                <div>
                  <p id="label_active_category">{{activeCategory.name}}</p>
                </div>
                <ion-icon name="close-outline"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-item-divider>

    <!-- Vendors List - horizontal | vertical mode -->
    <div [class]="showAllVendors ? 'wrap_vertical_list' : 'wrap_horizontal_list'"
      *ngIf="vendorsList && vendorsList?.length !== 0" [@listAnimation]="vendorsList.slice(0, 5).length">
      <ion-card button class="cardview_vendor"
        *ngFor="let vendor of showAllVendors ? (vendorsList | filterByMetacategory : activeCategory) : vendorsList.slice(0, 5)"
        (click)="selectVendor(vendor)">
        <div class="header_cardview_vendor"
          [style.background]="vendor.heroPicture ? 'url('+vendor.heroPicture+')' : 'url(\'../../../assets/icon/icon_food_marketplace_dark.svg\')'">
          <ion-row class="row_vendor_name">
            <ion-col size="auto">
              <div class="wrap_vendor_logo">
                <img [src]="vendor.imageUrl" [alt]="vendor.name">
              </div>
            </ion-col>
            <ion-col>
              <div class="wrap_vendor_name">
                <p>{{vendor.name}}</p>
              </div>
            </ion-col>
          </ion-row>
        </div>
        <div class="container_cardview_vendor">
          <p class="label_vendor_main_category">{{vendor.title}}</p>
          <p class="label_available_products">{{vendor.productsInStock}} {{'pages.home.labelProducts' | translate}}</p>
          <ion-row>
            <ion-col size="6">
              <p class="lable_minimum_order">
                <span>{{vendor.minimumOrderValue |
                  currency:localeData?.currency:'symbol-narrow':'.0-2':localeData?.localeID}}</span>
                {{'pages.home.labelMinimumOrderValue' | translate}}
              </p>
            </ion-col>
            <ion-col size="6">
              <p class="label_cashback_value"><span>{{vendor.cashback}}</span> cashback</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-card>
    </div>
  </div>

  <!-- Section Promotions -->
  <div id="vendors_promo_list"
    *ngIf="vendorsWithActivePromotions && !searchResult && vendorsWithActivePromotions.length !== 0">
    <!-- List Header: title & toggle view -->
    <ion-item-divider sticky class="section_header">
      <ion-row class="ion-align-items-center">
        <ion-col>
          <p class="section_title">{{'pages.home.labelPromotions' | translate}}</p>
        </ion-col>
        <ion-col size="auto">
          <ion-button color="primary" fill="clear" shape="round" size="small"
            (click)="toggleViewMode('vendorsPromoList')">
            {{(showAllVendorsPromo ? 'pages.home.buttons.buttonViewLess' : 'pages.home.buttons.buttonViewAll') |
            translate}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-item-divider>
    <!-- List of Vendors with active Promotions -->
    <div [class]="showAllVendorsPromo ? 'wrap_vertical_list' : 'wrap_horizontal_list'" [@listAnimation]="6">
      <ion-card button class="cardview_vendor" *ngFor="let vendor of vendorsWithActivePromotions"
        (click)="selectVendor(vendor)">
        <div class="header_cardview_vendor"
          [style.background]="vendor.heroPicture ? 'url('+vendor.heroPicture+')' : 'url(\'../../../assets/icon/icon_food_marketplace_dark.svg\')'">
          <ion-row class="row_vendor_name">
            <ion-col size="auto">
              <div class="wrap_vendor_logo">
                <img [src]="vendor.imageUrl" [alt]="vendor.name">
              </div>
            </ion-col>
            <ion-col>
              <div class="wrap_vendor_name">
                <p>{{vendor.name}}</p>
              </div>
            </ion-col>
          </ion-row>
        </div>
        <div class="container_cardview_vendor">
          <p class="label_vendor_main_category">{{vendor.title}}</p>
          <p class="label_available_products">{{vendor.productsInStock}} {{'pages.home.labelProducts' | translate}}</p>
          <ion-row>
            <ion-col size="6">
              <p class="lable_minimum_order">
                <span>{{vendor.minimumOrderValue |
                  currency:localeData?.currency:'symbol-narrow':'.0-2':localeData?.localeID}}</span>
                {{'pages.home.labelMinimumOrderValue' | translate}}
              </p>
            </ion-col>
            <ion-col size="6">
              <p class="label_cashback_value"><span>{{vendor.cashback}}</span> cashback</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-card>
    </div>
  </div>

  <!-- Section Search Results - Preview Vendor/Products -->
  <div *ngIf="searchedVendorsList">
    <ion-row class="ion-align-items-center section_header">
      <ion-col>
        <p class="section_title">{{'pages.home.labelProducts' | translate | titlecase}}</p>
      </ion-col>
      <ion-col size="auto">
        <ion-button color="primary" fill="clear" shape="round" size="small" (click)="cancelSearch()">
          {{'buttons.buttonBack' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
    <app-vendors-list [vendorsList]="searchedVendorsList" (eventSelectVendor)="receiveEventSelectVendor($event)">
    </app-vendors-list>
  </div>

  <!-- Section Follow us -->
  <ion-row id="row_comunity" class="ion-align-items-center" *ngIf="vendorsList">
    <ion-col size="auto">
      <p>{{'pages.home.labelFollowUs' | translate}}</p>
    </ion-col>
    <ion-col size="auto">
      <ion-button fill="clear" shape="round" color="tertiary" (click)="openLinkInBrowser('https://bit.ly/3h2uCOB')">
        <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="auto">
      <ion-button fill="clear" shape="round" color="tertiary" (click)="openLinkInBrowser('https://bit.ly/3nEX7UQ')">
        <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="auto">
      <ion-button fill="clear" shape="round" color="tertiary"
        (click)="openLinkInBrowser('https://www.youtube.com/channel/UC3DZhMDRjXRAzpDHIGCUwVA')">
        <ion-icon slot="icon-only" name="logo-youtube"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>