ion-toolbar {
    #row_location_dropdown {
        width: 80%;
        max-width: 520px;
        margin: 0 auto;

        ion-col {
            padding: 0;

            #icon_pin_location {
                font-size: 1.5em;
            }

            p {
                font-size: 0.9rem;
            }
        }
    }

    ion-searchbar {
        height: 42px;
        width: 94%;
        max-width: 560px;
        margin: 0 auto 0.5em auto;
        padding: 0 2px !important;
        --icon-color: var(--ion-color-primary);
        --border-radius: 1.5em;

        .searchbar-input-container {
            input {
                font-size: 14px !important;
            }
        }

        &.searchbar-has-focus {
            --background: #fafafa !important;
            --icon-color: var(--ion-color-primary);
            --box-shadow: 0px 0px 1px 1px var(--ion-color-primary);
        }
    }
}

ion-content {
    --background: var(--beez-background-color);

    .wrap_horizontal_list {
        width: 100%;
        height: fit-content;
        margin: 0 auto;
        padding-left: 1em;
        padding-right: 1em;
        display: block;
        overflow-y: hidden;
        overflow-x: scroll;
        white-space: nowrap;

        .cardview_metacategory {
            display: inline-block;
            width: 8rem;
            height: 6rem;
            margin: 0.5em;
            padding: 0 0.5em;
            border-radius: var(--beez-border-radius);
            background: #999;
            box-shadow: var(--beez-box-shadow);

            .wrap_category_title {
                position: absolute;
                width: 7rem;
                left: 0.5rem;
                bottom: 0.5rem;
                white-space: pre-wrap !important;
                p {
                    margin-bottom: 0;
                    font-size: 0.8rem;
                    font-weight: 500;
                    line-height: 0.9rem;
                    max-height: 1.8rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    color: #fff;
                }
            }
        }

        .cardview_top_vendors {
            display: inline-block;
            width: 12rem;
            height: 10.5rem;
            margin: 0.5em;
            padding: 0;
            border-radius: var(--beez-border-radius);
            background: #fff;
            box-shadow: var(--beez-box-shadow);

            .header_cardview_vendor {
                width: 12rem;
                height: 6rem;
                margin-bottom: 0;
                display: block;
                background: #999;
                position: relative;
                .row_vendor_name {
                    position: absolute;
                    width: 12rem;
                    height: 2rem;
                    left: 0;
                    bottom: 0.5rem;
        
                    ion-col {
                        padding: 0;
                        height: 2rem;
                        white-space: normal;
                    }
                    .wrap_vendor_logo {
                        margin: 0 0.5rem;
                        padding: 2px;
                        width: 2rem;
                        height: 2rem;
                        border-radius: 0.3rem;
                        background: #fff;
                        overflow: hidden;
                        box-shadow: var(--beez-box-shadow);
                        img {
                            // position: absolute;
                            margin-top: 50%;
                            margin-left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                    .wrap_vendor_name {
                        height: fit-content;
                        padding-right: 0.5rem;
                        position: absolute;
                        bottom: 0.1rem;

                        p {
                            margin: 0;
                            font-size: 0.8rem;
                            line-height: 0.9rem;
                            color: #fff;
                        }
                    }
                }
            }
            .container_cardview_vendor {
                display: block;
                width: 12rem;
                height: 4.5rem;
                margin-top: 0;
                padding: 0 0.5rem 0.5rem 0.5rem;
                background: #fff;
                .label_vendor_main_category {
                    margin-bottom: 0.1rem;
                    font-size: 0.8rem;
                    line-height: 0.8rem;
                    font-weight: 600;
                    color: var(--ion-color-tertiary);
                }
                .label_available_products {
                    margin-top: 0;
                    margin-bottom: 0;
                    font-size: 0.6rem;
                    color: var(--ion-color-medium);
                }
                 ion-row {
                    width: 11rem;
                    height: 1rem;
                    margin: 0;
                    padding-top: 0.5rem;
                    ion-col {
                        padding: 0.2rem;
                        // background: var(--beez-background-color);
                        // border-radius: 0.5rem;
                    }
                 }
                .lable_minimum_order,
                .label_cashback_value {
                    margin: 0;
                    text-align: center;
                    font-size: 0.6rem;
                    color: var(--ion-color-tertiary);
                    span {
                        color: var(--ion-color-primary);
                        font-weight: 500;
                    }
                }
            }
        }
    }
}