.header-md::after {
    box-shadow: none;
    background: none;
}

.login_content {
    height: 100%;
    width: 100%;
    padding-top: 6vh;

    .auth_logo {
        max-height: 3.5em;
        width: auto;
        display: block;
        margin: 0.5em auto;
    }
    .card_auth_form {
        width: 100%;
        display: block;
        margin: auto 0;

        form {
            width: 90%;
            max-width: 480px;
            margin: 0 auto;
        }
        .row_select_country {
            margin-top: 1em;
            justify-content: center;
            align-items: center;
        }

        .step1,
        .step2 {
            text-align: center;
        }
        .page_title {
            color: var(--ion-color-dark-tint);
        }
        .label_email {
            color: var(--ion-color-medium);
        }
        .label_enter_pass {
            color: var(--ion-color-dark-tint);
        }
        .text_dark {
            color: var(--ion-color-dark);
        }
        ion-input {
            margin-left: 1em;
            color: var(--ion-color-secondary);
        }
        .login_form_item {
            --highlight-color-valid: #ddd;
            --min-height: 60px;
            ion-icon {
                font-size: 1.4em;
                color: var(--ion-color-secondary-tint);
            }
        }
        // validation form
        .validation-errors {
            color: var(--ion-color-danger);
            font-size: 0.7em;
            margin-left: 32px;
            margin-top: 2px;
        }
        .passwordIcon {
            position: absolute !important;
            bottom: 4px !important;
            right: 0;
            color: var(--ion-color-secondary-tint);
            z-index: 1000;
        }
    }
    ion-button {
        text-transform: none;
        --box-shadow: none;
    }
    ion-fab-button {
        height: 3.5em;
        width: 3.5em;
        margin-right: 1em;
        --box-shadow: none;
        --background: #fff;
        --background-activated: #fff;
        ion-icon {
            min-width: 2em;
        }
    }
    .btn_fab_facebook {
        ion-icon {
            width: 100%;
            height: 100%;
        }
    }
    .btn_select_country {
        width: 100%;
        height: 2em;
        display: block;
        --padding-start: 0em;
        --padding-end: 0em;
        --background: #fff;
        --background-activated: #ddd;
        --background-hover: #ddd;
        font-size: 0.8em;
        color: var(--ion-color-secondary-tint);
        filter: grayscale(100%);
        opacity: 0.5;
    }
    .btn_select_laguage_active {
        --background: var(--beez-background-color);
        filter: grayscale(0%);
        opacity: 1;
    }
    .btn_login {
        width: 100%;
        height: 3em;
        border-radius: 24px;
        margin-top: 0.5em;
        margin-left: auto;
        margin-right: auto;
        color: #fff;
        text-transform: none;
    }
    #label_or {
        width: 100%; 
        text-align: center; 
        text-transform: uppercase;
        color: var(--ion-color-medium);
        border-bottom: 1px solid var(--ion-color-light-shade); 
        line-height: 0.1em;
        margin: 2em 0em;
        span { 
            background:#fff; 
            padding:0 10px; 
        }
    }
    .btn_facebook_login {
        width: 100%;
        height: 3em;
        margin: 0.5em auto;
        --background: var(--ion-color-facebook);
        --background-hover: var(--ion-color-facebook-shade);
        --color-activated: #fff;
    }
    .btn_apple_login {
        width: 100%;
        height: 3em;
        margin: 0.5em auto;
        --padding-start: 3em;
        --padding-end: 3em;
        ion-icon {
            margin-right: 0.5em;
            font-size: 0.9em;
        }
    }
    .link_switch_auth {
       margin: 0.5em auto;
       outline: 0;
    }
    .link_resset_password {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .link_resset_password,
    .link_switch_auth {
        font-size: 1em;
        color: var(--ion-color-secondary-tint);
        span {
            margin-left: 0.3em;
            color: var(--ion-color-primary);
            text-decoration: underline;
        }
    }
}

#wrap_guest_preview_product {
    max-width: 420px;
    margin: 0 auto;
    text-align: center;
    #wrap_product_image {
        width: 8em;
        height: auto;
        margin: 0 auto;
        position: relative;
        border-radius: 1.5em;
        overflow: hidden;
        #wrap_logo {
            width: fit-content;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            padding: 0.2em 3em 0 3em;
            position: absolute;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0.5), #fff, rgba(255, 255, 255, 0.5));
            img {
                z-index: 99;
                width: 2rem;
                height: auto;
            }
        }
    }
    #product_title {
        font-size: 1em;
        line-height: 0;
        font-weight: 500;
        color: var(--ion-color-tertiary);
    }
    #product_value{
        margin-top: 1.5em;
        font-size: 1.2em;
        line-height: 0;
        font-weight: 600;
        color: var(--ion-color-primary);
    }

    #info_preview_product {
        font-size: 0.8em;
        color: var(--ion-color-tertiary);
        text-align: center;
    }
}