<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" shape="round" size="small" color="primary" routerDirection="back" (click)="closeModal()">
        <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'pages.marketplace.orderDetails.labelPageTitle' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrap_content">
    <ion-row class="row_product_header">
      <ion-col size="4" class="wrap_button">
        <ion-button expand="block" fill="clear" shape="round" color="tertiary"
          *ngIf="orderDetails?.shippmentInfo == undefined" [disabled]="orderDetails?.status.status !== 'PendingToOrder'"
          (click)="modalConfirmRemoveOrder()">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
        <p class="label_button_info" *ngIf="orderDetails?.shippmentInfo == undefined">
          {{'pages.marketplace.orderDetails.buttonRemove' | translate}}</p>
      </ion-col>
      <!-- Store logo -->
      <ion-col size="4" class="col_wrap_product_image centered_content">
        <div class="wrap_image">
          <img class="img_product"
            [src]="orderDetails?.imagePath != null ? orderDetails?.imagePath : './assets/icon/icon_placeholder_marketplace.svg'"
            onerror="this.onerror==null;this.src='./assets/icon/icon_placeholder_marketplace.svg'" />
        </div>
      </ion-col>
      <ion-col size="4" class="wrap_button">
        <ion-button fill="clear" shape="round" size="large" (click)="contactSupport()">
          <ion-icon slot="icon-only" src="./assets/icon/icon_contact_support.svg"></ion-icon>
        </ion-button>
        <p class="label_button_info">Contact</p>
      </ion-col>
    </ion-row>

    <!-- SECTION VIEW STATUS -->
    <ion-row class="row_order_status" *ngIf="orderDetails?.status.status !== 'Cancelled'">
      <!-- ORDER STATUS & CODE -->
      <ion-col class="centered_content" *ngIf="labelOrderStatus !== '' && iconOrderStatus !== ''">
        <ion-badge class="status" [class.status--pending-to-order]="orderDetails?.status.status === 'PendingToOrder'"
          [class.status--paid]="orderDetails?.status.status === 'Paid'"
          [class.status--delivered]="orderDetails?.status.status === 'Delivered'">
          <ion-icon [src]="iconOrderStatus"></ion-icon>
          <span>{{labelOrderStatus}}</span>
        </ion-badge>
        <p id="label_order_code">
          <span>
            {{'pages.marketplace.orderDetails.labelOrderCode' | translate}}: {{orderDetails?.orderInfo.orderCode}}
          </span>
          <ion-button fill="clear" shape="round" size="small" color="tertiary" (click)="showAlertOrderCodeInfo()">
            <ion-icon slot="icon-only" name="information-circle"></ion-icon>
          </ion-button>
        </p>
        <p id="label_order_total_value" *ngIf="orderDetails?.status.status === 'PendingToOrder'">
          {{orderDetails?.value | currency:localeData.currency:'symbol-narrow':'.0-2':localeData.localeID}}</p>
      </ion-col>

      <!-- SHIPPING STATUS: Paid, Shipped & Delivered Status -->
      <ion-col size="12" *ngIf="orderDetails?.shippmentInfo !== undefined">
        <div class="cardview_order_status">
          <p class="label_section_title">{{'pages.marketplace.orderDetails.labelOrderStatus' | translate}}</p>
          <ion-row class="row_order_status">
            <ion-col size="4">
              <img class="icon_order_status"
                [src]="'./assets/icon/order-status/' + (orderDetails?.status.status !== 'PendingToOrder' ? 'icon_status_ordered_active.svg' : 'icon_status_ordered_inactive.svg')"
                alt="icon_status_ordered" @bounceIn>
            </ion-col>
            <ion-col size="4">
              <img class="icon_order_status"
                [src]="'./assets/icon/order-status/' + ((orderDetails?.shippmentInfo.shipmentStatus === 'Shipped' || (orderDetails?.shippmentInfo.shipmentStatus == 'Delivered' || orderDetails?.status.status == 'Delivered')) ? 'icon_status_delivering_active.svg' : 'icon_status_delivering_inactive.svg')"
                alt="icon_status_paid" @bounceIn>
            </ion-col>
            <ion-col size="4">
              <img class="icon_order_status"
                [src]="'./assets/icon/order-status/'+ ((orderDetails?.shippmentInfo.shipmentStatus == 'Delivered' || orderDetails?.status.status == 'Delivered') ? 'icon_status_arrived_active.svg' : 'icon_status_arrived_inactive.svg')"
                alt="icon_status_delivered" @bounceIn>
            </ion-col>
            <ion-col size="12" class="col_progress_bar">
              <div class="wrap_status_progress">
                <div class="status_progress"
                  [ngStyle]="{'width': (orderDetails?.shippmentInfo?.shipmentStatus == 'Shipped' && orderDetails?.status.status == 'Paid') ? '66.6%' : ((orderDetails?.shippmentInfo?.shipmentStatus == 'Shipped' || orderDetails?.status.status == 'Delivered') ? '100%' : (orderDetails?.status.status == 'Paid' ? '33.3%' : '0.3em'))}"
                  @slideIn></div>
              </div>
            </ion-col>
            <ion-col size="4">
              <p class="label_status_name">{{"pages.marketplace.statusOfOrder.pendingToOrder" | translate}}</p>
            </ion-col>
            <ion-col size="4">
              <p class="label_status_name">{{"pages.marketplace.statusOfOrder.deliveryInProgress" | translate}}</p>
            </ion-col>
            <ion-col size="4">
              <p class="label_status_name">{{"pages.marketplace.statusOfOrder.delivered" | translate}}</p>
            </ion-col>
            <ion-col size="12" class="col_buttons">
              <div *ngIf="(orderDetails?.status.status == 'Delivered') 
                && (!orderDetails?.feedbackReceived && orderDetails?.refundInfo?.requestedByUser == null)">
                <!-- <div *ngIf="(orderDetails?.shippmentInfo?.shipmentStatus == 'Delivered') 
                && (!orderDetails?.feedbackReceived && orderDetails?.paymentInfo.refundInfo == null)"> -->
                <p class="label_section_title">{{'pages.marketplace.orderDetails.labelHowWasYourOrder' | translate}}</p>
                <p class="label_review_order">
                  {{'pages.marketplace.orderDetails.labelInfoReviewOrderPart1' | translate}}<br>{{'pages.marketplace.orderDetails.labelInfoReviewOrderPart2' | translate}}
                </p>
              </div>
              <!-- Cancel/Delete order -->
              <ion-button class="button_gray" color="medium" expand="block" fill="solid" shape="round"
                *ngIf="orderDetails?.status.status == 'PendingToOrder' && orderDetails?.shippmentInfo?.shipmentStatus == null"
                (click)="modalConfirmRemoveOrder()" @bounceIn>
                {{'buttons.buttonCancelOrder' | translate}}
              </ion-button>
              <!-- Track order -->
              <!-- <ion-button class="button_primary" color="primary" expand="block" fill="solid" shape="round"
                *ngIf="orderDetails?.shippmentInfo.shipmentStatus == 'Shipped'" (click)="openLinkInAppBrowser(orderDetails?.shippmentInfo?.shipmentTrackingLink, 'track_order')" @bounceIn>
                {{'buttons.buttonTrackOrder' | translate}}
              </ion-button> -->
              <ion-button class="button_primary" color="primary" expand="block" fill="solid" shape="round"
                *ngIf="orderDetails?.shippmentInfo.shipmentStatus == 'Shipped'"
                (click)="openLinkInAppBrowser(orderDetails?.shippmentInfo?.shipmentTrackingLink, 'track_order')"
                @bounceIn>
                {{'buttons.buttonTrackOrder' | translate}}
              </ion-button>
              <!-- Review order(show feedback form) -->
              <!-- <ion-button class="button_primary" color="primary" expand="block" fill="solid" shape="round"
                *ngIf="(orderDetails?.shippmentInfo.shipmentStatus == 'Delivered' || orderDetails?.status.status == 'Delivered') && !orderDetails?.feedbackReceived"
                (click)="showOverlayReviewOrder = true" @bounceIn>
                {{'buttons.buttonReviewOrder' | translate}}
              </ion-button> -->
              <ion-button class="button_primary" color="primary" expand="block" fill="solid" shape="round"
                *ngIf="(orderDetails?.status.status == 'Delivered' || orderDetails?.status.status == 'Delivered') && !orderDetails?.feedbackReceived"
                (click)="showOverlayReviewOrder = true" @bounceIn>
                {{'buttons.buttonReviewOrder' | translate}}
              </ion-button>
              <!-- Open missing products modal -->
              <!-- <ion-button class="button_gray" color="medium" expand="block" fill="solid" shape="round"
                (click)="openMissingProductsModal()"
                *ngIf="(orderDetails?.shippmentInfo.shipmentStatus == 'Delivered') && orderDetails?.paymentInfo.refundInfo == null"
                @bounceIn>
                {{'pages.marketplace.orderDetails.buttonMissingProducts' | translate}}
              </ion-button> -->
              <ion-button class="button_gray" color="primary" expand="block" fill="outline" shape="round"
                (click)="openMissingProductsModal()"
                *ngIf="(orderDetails?.status.status == 'Delivered') && orderDetails?.refundInfo?.requestedByUser == null"
                @bounceIn>
                {{'pages.marketplace.orderDetails.buttonMissingProducts' | translate}}
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>

    <!-- Order Actions -->
    <ion-row id="row_buttons">
      <ion-col size="12">
        <ion-button expand="block" fill="solid" shape="round" (click)="openPaymentPage()"
          *ngIf="orderDetails?.status.status === 'PendingToOrder'">
          {{'pages.marketplace.orderDetails.buttonOrderNow' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Section refund details -->
    <section *ngIf="orderDetails?.refundInfo">
      <ion-row class="row_refund_details_header">
        <ion-col size="1">
          <ion-icon src="./assets/icon/icon_refund_request_inactive.svg"></ion-icon>
        </ion-col>
        <ion-col size="6">
          <p class="label_title">
            {{'pages.marketplace.orderDetails.labelRefundDetails' | translate}}
          </p>
        </ion-col>
        <ion-col size="5" class="ion-text-end">
          <ion-button fill="clear" shape="round" size="small" color="tertiary" (click)="openRefundDetails()">
            {{'pages.marketplace.orderDetails.buttonViewDetails' | translate}}
          </ion-button>
        </ion-col>
      </ion-row>
      <div class="horizontal_line"></div>
      <ion-row class="row_section_details"
        *ngIf="orderDetails?.refundInfo !== null && orderDetails?.refundInfo != undefined">
        <ion-col size="12">
          <p class="label_total_refund">{{'pages.marketplace.orderDetails.labelTotalRefund' | translate}}:
            <span class="label_amount_paid color_primary">
              {{orderDetails?.refundInfo?.totalRequestedAmount | currency:localeData?.currency:'symbol-narrow':'.0-2':localeData?.localeID }}
            </span>
          </p>
          <p class="label_refund_details" *ngIf="orderDetails.refundInfo.requestedByUser != null">
            {{'pages.marketplace.orderDetails.labelRefundRequestByUser' | translate}}
            <span class="label_amount_paid color_primary">
              {{orderDetails?.refundInfo?.requestedByUser.amount | currency:localeData?.currency:'symbol-narrow':'.0-2':localeData?.localeID }}
            </span>
          </p>
          <p class="label_refund_details" *ngIf="orderDetails.refundInfo.requestedByUser != null">
            Status:
            <span class="color_primary">
              {{('pages.marketplace.orderDetails.statusListRefund.status' + orderDetails?.refundInfo?.requestedByUser?.status) | translate}}
            </span>
          </p>
          <p class="label_refund_details" *ngIf="orderDetails.refundInfo.requestedByVendor != null">
            {{'pages.marketplace.orderDetails.labelRefundRequestByVendor' | translate}}
            <span class="label_amount_paid color_primary">
              {{orderDetails?.refundInfo?.requestedByVendor.amount | currency:localeData?.currency:'symbol-narrow':'.0-2':localeData?.localeID }}
            </span>
          </p>
          <p class="label_refund_details" *ngIf="orderDetails.refundInfo.requestedByVendor != null">
            Status:
            <span class="color_primary">
              {{('pages.marketplace.orderDetails.statusListRefund.status' + orderDetails?.refundInfo?.requestedByVendor?.status) | translate}}
            </span>
          </p>
        </ion-col>
      </ion-row>
    </section>

    <!-- Section payment details -->
    <section *ngIf="orderDetails?.paymentInfo !== null">
      <p class="label_section_title">
        {{'pages.marketplace.orderDetails.labelPaymentDetails' | translate}}
      </p>
      <div class="horizontal_line"></div>
      <ion-row class="row_section_details" *ngIf="orderDetails?.paymentInfo.payments !== null">
        <ion-col size="12">
          <p>
            {{'pages.marketplace.orderDetails.labelPaidValue' | translate}}
            <span class="label_amount_paid color_primary">
              {{orderDetails?.paymentInfo.payments[0].amount | currency:localeData?.currency:'symbol-narrow':'.0-2':localeData?.localeID }}
            </span>
          </p>
          <p>
            {{'pages.marketplace.orderDetails.labelPaymentDate' | translate}}:
            <span class="color_primary">
              {{orderDetails?.paymentInfo.payments[0].createdAt | convertToLocaleTime : 'DD.MM.YYYY'}}
            </span>
          </p>
        </ion-col>
      </ion-row>
    </section>

    <!-- Section order products list -->
    <p class="label_section_title">{{'pages.marketplace.orderDetails.labelOrderDetails' | translate}}</p>
    <div class="horizontal_line"></div>
    <ion-row *ngFor="let product of orderDetails?.orderInfo.products" class="row_products_list">
      <ion-col size="3" class="centered_content">
        <!-- Product image -->
        <ion-row class="row_product_image">
          <ion-col size="12" class="centered_content"
            (click)="openImageViewer('https://static.use-beez.com' + product.imgUrl, product.name)">
            <img class="product_image"
              [src]="product.imgUrl != null ? ('https://static.use-beez.com' + product.imgUrl | convertPathOfShopImage:'~/') : './assets/icon/icon_placeholder_marketplace.svg'"
              onerror="this.onerror==null;this.src='./assets/icon/icon_placeholder_marketplace.svg'" alt="">
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- Product details -->
      <ion-col size="5">
        <p class="label_product_name">{{product.name}}</p>
        <p class="label_product_details" [innerHTML]="product.weightInKG"></p>
        <p class="label_product_price">
          {{product?.unitValue | currency:localeData?.currency:'symbol-narrow':'.0-2':localeData?.localeID}}
          <span>x {{product?.quantity}}</span>
        </p>
      </ion-col>
      <ion-col size="4" class="centered_content">
        <p class="label_total">
          {{product?.totalValue | currency:localeData?.currency:'symbol-narrow':'.0-2':localeData?.localeID}}
        </p>
      </ion-col>
    </ion-row>

    <section>
      <!-- Section order status -->
      <p class="label_section_title">
        {{'pages.marketplace.orderDetails.labelOrderStatus' | translate}}
      </p>
      <div class="horizontal_line"></div>
      <ion-row class="row_section_details">
        <ion-col size="12">
          <p>
            {{'pages.marketplace.orderDetails.labelOrderStatus' | translate}}:
            <span class="color_primary">
              {{labelOrderStatus}}
            </span>
          </p>
          <p *ngIf="orderDetails?.clientDeliveryDate != null">
            {{'pages.marketplace.orderDetails.labelDeliveryDate' | translate}}
            <span class="color_primary">
              {{orderDetails?.clientDeliveryDate | convertToLocaleTime : 'DD.MM.YYYY' }}
            </span>
          </p>
        </ion-col>
      </ion-row>
    </section>

    <!-- Section Documents -->
    <section>
      <p class="label_section_title">
        {{'pages.marketplace.orderDetails.labelDocuments' | translate}}
      </p>
      <div class="horizontal_line"></div>
      <ion-row class="ion-align-items-center" id="row_documents">
        <ion-col size="6">
          <p class="label_document_name">{{'pages.marketplace.orderDetails.labelInvoice' | translate}}</p>
        </ion-col>
        <ion-col size="6">
          <ion-button fill="clear" shape="round" size="small"
            [color]="orderDetails?.status.status !== 'Delivered' ? 'tertiary' : 'primary'"
            [disabled]="orderDetails?.status.status !== 'Delivered'" (click)="getInvoiceUrl()">
            {{'pages.marketplace.orderDetails.labelDownload' | translate}}<ion-icon slot="end" name="cloud-download"
              color="primary">
            </ion-icon>
          </ion-button>
          <!-- <ion-button fill="clear" shape="round" size="small"
            [color]="orderDetails?.documentInfo.invoicePath == null ? 'secondary' : 'primary'"
            [disabled]="orderDetails?.documentInfo.invoicePath == null"
            (click)="openDocumentInAppBrowser(orderDetails?.documentInfo.invoicePath)">
            {{'pages.marketplace.orderDetails.labelDownload' | translate}}<ion-icon slot="end" name="cloud-download"
              color="primary">
            </ion-icon>
          </ion-button> -->
        </ion-col>
      </ion-row>
    </section>
  </div>
</ion-content>
<!-- OVERLAY PAYMENT SUCCESS -->
<app-overlay-payment-success *ngIf="showOverlayPaymentSuccess"
  (hideOverlayComponent)="receiveCloseOverlayEvent($event)"></app-overlay-payment-success>

<!-- OVERLAY REVIEW ORDER -->
<div id="overlay_review_order" class="overlay_backdrop" *ngIf="showOverlayReviewOrder">
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-button id="btn_close_overlay" color="medium" fill="clear" shape="round"
          (click)="showOverlayReviewOrder = false">
          <ion-icon slot="icon-only" name="close-outline"></ion-icon>
        </ion-button>
        <img src="./assets/imgs/bee-characters/bee_review.svg" alt="">
        <p id="label_review_title" *ngIf="!reviewSubmited">
          {{'pages.marketplace.orderDetails.reviewOrder.title' | translate}}</p>
        <p id="label_thank_you_title" *ngIf="reviewSubmited">
          {{'pages.marketplace.orderDetails.reviewOrder.labelThankYou' | translate}}</p>
        <p id="label_thank_you_message" *ngIf="reviewSubmited">
          {{'pages.marketplace.orderDetails.reviewOrder.labelInfoAppReview' | translate}}
          <span>Google Play</span> {{'pages.marketplace.orderDetails.reviewOrder.labelOr' | translate}} <span>App
            Store</span></p>
        <ion-textarea [formControl]="messageReviewOrder" [ngClass]="{'textarea_active': messageReviewOrder.dirty }"
          autofocus="true" inputmode="text"
          placeholder="{{'pages.marketplace.orderDetails.reviewOrder.placeholderFeedback' | translate}}"
          spellcheck="true" *ngIf="!reviewSubmited"></ion-textarea>
        <ion-button color="primary" expand="block" fill="solid" shape="round" [disabled]="messageReviewOrder.invalid"
          *ngIf="!reviewSubmited" (click)="sendReview()" @bounceIn>{{'buttons.buttonSend' | translate}}</ion-button>
        <ion-button color="medium" expand="block" fill="clear" shape="round" *ngIf="!reviewSubmited"
          (click)="showOverlayReviewOrder = false" @bounceIn>{{'buttons.buttonLater' | translate}}</ion-button>
        <ion-button id="btn_ok" color="primary" color="primary" expand="block" fill="solid" shape="round"
          *ngIf="reviewSubmited" (click)="showOverlayReviewOrder = false" @bounceIn>OK</ion-button>
      </ion-card>
    </ion-col>
  </ion-row>
</div>