.wrap_content {
    max-width: 576px;
    margin: 0em auto;
    padding-bottom: 2em;
  }
  
  .centered_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .row_product_header {
    background: linear-gradient(to bottom, var(--beez-background-color) 50%, #fff 50%);
  
    .wrap_button {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 0.5em;
      color: var(--ion-color-secondary-tint);
  
      ion-button {
        height: fit-content;
        margin-bottom: 0;
        --padding-top: 0;
        --padding-bottom: 0.2em;
        font-size: 2em;
        line-height: 0em;
  
        ion-icon {
          font-size: 0.9em;
          color: var(--ion-color-secondary-tint);
        }
      }
  
      .label_button_info {
        margin-top: 0;
        font-size: 0.7em;
      }
    }
  
    .col_wrap_product_image {
      padding: 3em 0em 1em;
  
      .wrap_image {
        width: 8em;
        height: 7em;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        border-radius: var(--beez-border-radius);
        box-shadow: var(--beez-box-shadow);
  
        .img_product {
          height: auto;
          max-height: 6em;
          width: auto;
          max-width: 5em;
        }
      }
    }
  }
  
  .row_order_status {
    text-align: center;
  
    .status {
      --padding-bottom: 0em;
      --padding-top: 0em;
      border-radius: 0.3em;
      border: 1px solid #e6e6e6;
      background: #ededed;
      text-transform: uppercase;
      font-size: 75%;
      color: var(--ion-color-secondary);
  
      ion-icon,
      span {
        vertical-align: middle;
      }
  
      span {
        margin-top: 0.3em;
        margin-bottom: 0;
      }
  
      ion-icon {
        margin-right: 0.2em;
        font-size: 2.3em;
      }
  
      &--paid {
        color: #2980b9;
        border-color: #d1dde6;
        background: #e8f6ff;
      }
  
      &--pending-to-order {
        color: var(--ion-color-primary);
        border-color: #e6dbc8;
        background: #fff3de;
      }
  
      &--delivered {
        color: #58aa68;
        border-color: #d1e6d9;
        background: #e8fff1;
      }
    }
  
    #label_order_code,
    #label_order_total_value {
      margin: 0em;
    }
  
    #label_order_code {
      font-size: 1.2em;
      font-weight: 500;
      color: var(--ion-color-tertiary-shade);
  
      span,
      ion-button {
        vertical-align: middle;
      }
  
      ion-button {
        --padding-start: 0.5em;
        --padding-end: 0.5em;
      }
    }
  
    #label_order_total_value {
      font-size: 1.2em;
      color: var(--ion-color-tertiary);
    }
  
    .cardview_order_status {
      width: 94%;
      margin: 0 auto;
      padding-bottom: 0.2em;
      border: 1px solid #d8d8d8;
      border-radius: var(--beez-border-radius);
  
      .label_section_title {
        text-align: left !important;
        padding: 0.8em !important;
      }
  
      .row_order_status {
        padding: 0 1em;
  
        ion-col {
          padding: 0 0.5em;
        }
  
        .icon_order_status {
          max-height: 2.5em;
        }
  
        .label_status_name {
          font-size: 0.6em;
          color: var(--ion-color-medium);
        }
  
        .col_progress_bar {
          padding: 0 !important;
  
          .wrap_status_progress {
            height: fit-content;
            width: 100%;
            padding: 4px;
            border-radius: 1em;
            // border: 1px solid var(--ion-color-medium);
            overflow: hidden;
            background: var(--beez-background-color);
  
            .status_progress {
              // width: 66.6%;
              height: 0.3em;
              margin: 0;
              display: block;
              background: var(--ion-color-primary);
              border-radius: 0.3em;
              background-color: #e4c465;
            }
          }
        }
  
        .col_buttons {
          padding: 0;
  
          .label_section_title {
            text-align: center !important;
            margin-bottom: 0 !important;
            padding-bottom: 0 !important;
          }
  
          .label_review_order {
            margin-bottom: 3em;
            font-size: 0.6em;
            color: var(--ion-color-tertiary);
          }
  
          ion-button {
            text-transform: none;
            margin-top: 0.5em;
            margin-bottom: 1em;
          }
  
          .button_gray {
            --color: #fff !important;
          }
        }
      }
    }
  }
  
  #row_documents {
    padding: 0.5em 1em;
  
    .label_download,
    .label_document_name {
      margin: 0;
      color: var(--ion-color-tertiary);
    }
  
    .label_download {
      font-size: 0.8em;
      font-weight: 400;
    }
  
    ion-button {
      float: right;
    }
  }
  
  #row_buttons {
    ion-button {
      width: 55%;
      height: 2.4em;
      margin: 8px auto;
      font-size: 1.1em;
      font-weight: 400;
      text-transform: none;
    }
  }
  
  .row_products_list {
    width: 100%;
    margin: 1em auto;
    padding: 0.5em 0.5em 0.5em 1em;
    border-bottom: 2px solid var(--beez-background-color);
    color: var(--ion-color-secondary-tint);
  
    .row_product_image {
      height: 4rem;
      width: 4rem;
      border-radius: var(--beez-border-radius);
      box-shadow: var(--beez-box-shadow);
      background: #fff;
  
      ion-col {
        padding: 0;
      }
  
      img {
        height: auto;
        max-height: 3.5rem;
        width: auto;
        max-width: 3.5rem;
      }
    }
  
    .label_product_name,
    .label_product_price {
      margin: 0.5em;
    }
  
    .label_product_name {
      width: 98%;
      font-size: 0.9em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    .label_product_details {
      margin: 0.1em 0.5em;
      font-size: 0.7em;
      color: var(--ion-color-medium);
      overflow: hidden;
      text-align: left;
    }
  
    .label_product_price {
      font-size: 1.1em;
    }
  
    .label_total {
      font-weight: 600;
    }
  }
  
  .row_products_list:last-of-type {
    border: none !important;
  }

  .undelivered_products {
    position: relative;
    opacity: 0.6;
    z-index: 9;
  }
  
  .icon_close {
    position: absolute;
    z-index: 99;
    font-size: 2.5em;
    font-weight: bold;
    color: var(--ion-color-secondary);
  }

  .horizontal_line {
    width: 100%;
    height: 1px;
    background: #eeeeee;
  }
  
  .label_section_title {
    padding: 1em 1em 0.5em 1.3em;
    margin: 0em;
    font-size: 1em;
    font-weight: 600;
    color: var(--ion-color-tertiary-shade);
  }
  
  .row_section_details {
    padding: 0.5em 1em;
    color: var(--ion-color-tertiary-shade);
  
    p {
      margin: 0em 0em 0.5em;
    }
  
    .label_amount_paid {
      font-weight: bold;
    }
  
    .color_primary {
      color: var(--ion-color-primary);
    }
  
    .color_medium {
      color: var(--ion-color-medium);
    }

    .label_refund_details {
      margin-left: 1em;
      font-size: 0.7rem!important;
    }
  }

  .row_refund_details_header {
    align-items: center;
    padding-left: 1em;
    
    ion-icon {
      display: block;
      margin: auto;
      font-size: 1.5em;
    }

    .label_title {
      margin: 0.5em 0em;
      font-size: 1em;
      font-weight: 600;
      color: var(--ion-color-tertiary-shade);
    }
  }
  
  #overlay_review_order {
    ion-card {
      padding: 1em 1.5em;
      margin-top: 25%;
      text-align: center;
  
      #btn_close_overlay {
        position: absolute;
        width: 1.5em;
        height: 1.5em;
        --padding-start: 0;
        --padding-end: 0;
        right: 0.5em;
        top: 0.5em;
      }
  
      img {
        height: 8em;
        width: auto;
        margin: 0.5em auto;
      }
  
      #label_review_title,
      #label_thank_you_title {
        font-size: 1.4em;
        color: var(--ion-color-secondary);
      }
  
      #label_thank_you_message {
        margin: 1em 1em 3em 1em;
        font-size: 0.8em;
        color: var(--ion-color-tertiary);
  
        span {
          color: var(--ion-color-primary);
          font-weight: 500;
        }
      }
  
      ion-textarea {
        max-width: 360px;
        height: 7rem;
        margin: 1em auto;
        --padding-start: 0.5em;
        --padding-end: 0.5em;
        --padding-top: 0.5em;
        --padding-bottom: 0.5em;
        text-align: left;
        --placeholder-opacity: 0.7;
        --background: #fff;
        border-radius: var(--beez-border-radius);
        border: 1px solid #dedede;
  
        textarea {
          height: 7rem;
        }
      }
  
      .textarea_active {
        border: 1px solid var(--ion-color-primary) !important;
      }
  
      #btn_ok {
        width: fit-content;
        --padding-start: 5em;
        --padding-end: 5em;
        margin: 0.5em auto 1em auto;
        display: block;
      }
    }
  }
  