<ion-content id="wrap_vendors_list_component">
  <!-- SEARCHBAR & OPTIONS(sort, filter) -->
  <ion-item-divider sticky="true">
    <div>
      <ion-header>
        <ion-toolbar>
          <div>
            <ion-row class="row_foodmarketplace_searchbar">
              <ion-col size="auto">
                <ion-icon id="icon_section" src="./assets/icon/logo_beez_foodmarketplace.svg"></ion-icon>
              </ion-col>
              <ion-col>
                <p id="lable_section_name" *ngIf="!searchIsActive">Food Marketplace</p>
                <div id="wrap_searchbar">
                  <ion-searchbar placeholder="{{'pages.marketplaceTab.labelSearchTheProduct' | translate}}" inputmode="text" type="text" (ionChange)="onSearchChange($event.target.value)" [debounce]="1000" mode="ios" showCancelButton="never" *ngIf="searchIsActive" @fadeIn></ion-searchbar>
                </div>
              </ion-col>
              <ion-col size="auto">
                <ion-button fill="clear" shape="round" (click)="this.searchIsActive ? cancelSearch() : this.searchIsActive = true">
                  <ion-icon slot="icon-only" [name]="this.searchIsActive ? 'close' : 'search'"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </div>
        </ion-toolbar>
      </ion-header>
      <!-- Location & Notifications toggle -->
      <ion-row id="row_searchbar" class="ion-align-items-center">
        <ion-col size="12" id="wrap_options">
          <div>
            <ion-row class="row_select_option ion-align-items-center" (click)="openMarketplaceLocations()">
              <ion-col size="auto">
                <ion-icon class="icon_pin" name="location-sharp"></ion-icon>
              </ion-col>
              <ion-col>
                <p id="label_location">{{city?.Name}}, {{county?.Name}}</p>
              </ion-col>
              <ion-col size="auto">
                <p id="label_change_location">{{'pages.marketplaceTab.labelChangeLocation' | translate}}</p>
              </ion-col>
            </ion-row>
            <ion-row class="row_select_option ion-align-items-center" *ngIf="newVendorNotificationsStatus !== null">
              <ion-col size="auto">
                <ion-icon class="icon_pin" name="notifications-sharp"></ion-icon>
              </ion-col>
              <ion-col>
                <p id="label_notifications">{{'pages.marketplaceTab.labelInfoNotificationsNewVendor' | translate}}</p>
              </ion-col>
              <ion-col size="auto">
                <!-- <p id="label_activate_notifications">{{'buttons.buttonTurnOn' | translate}}</p> -->
                <ion-toggle color="primary" mode="ios" [(ngModel)]="newVendorNotificationsStatus" (ionChange)="toggleNewVendorNotifications()"></ion-toggle>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
      <!-- MetaCategories list(dropdown)  -->
      <ion-row id="row_select_category" class="ion-align-items-center"
        (click)="categoriesDropdownIsActive = !categoriesDropdownIsActive">
        <ion-col size="auto">
          <img class="logo_metacategory" [src]="activeCategory !== null ? activeCategory.imgUrl : '../../../assets/icon/icon_food_marketplace.svg'" alt="category">
        </ion-col>
        <ion-col>
          <div>
            <p id="label_select_category" *ngIf="activeCategory == null">{{'pages.marketplaceTab.labelSelectCategory' | translate}}</p>
            <p id="label_select_category" class="active_selection" *ngIf="activeCategory !== null">
              {{activeCategory.name}}</p>
          </div>
          <!-- <p class="label_selected_category"></p> -->
        </ion-col>
        <ion-col size="1">
          <ion-icon [name]="categoriesDropdownIsActive ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
  </ion-item-divider>

  <div class="container">
    <p class="label_searched_keyword" *ngIf="searchedKeyword && activeCategory == null">{{this.vendorsList?.length}}
      {{'pages.marketplaceTab.labelVendor' | translate}}
      <strong>"{{searchedKeyword}}"</strong></p>
    <div id="wrap_categories_list" *ngIf="categoriesDropdownIsActive">
      <ion-list [@listAnimation]="metacategories.length">
        <ion-item button detail="false" lines="none" *ngFor="let category of metacategories"
          (click)="activeCategory = category; categoriesDropdownIsActive = false">
          <ion-row class="ion-align-items-center">
            <ion-col size="auto"><img class="logo_metacategory" [src]="category.imgUrl !== null ? category.imgUrl : '../../../assets/icon/icon_food_marketplace.svg'"
                alt=""></ion-col>
            <ion-col>
              <p class="label_category_name"
                [ngClass]="activeCategory?.name == category.name ? 'active_selection' : 'label_category_name'">
                {{category.name}}</p>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item button detail="false" lines="none"
          (click)="activeCategory = null; categoriesDropdownIsActive = false">
          <ion-row class="ion-align-items-center">
            <ion-col size="auto"><img class="logo_metacategory" src="./assets/icon/icon_food_marketplace.svg"
                alt=""></ion-col>
            <ion-col>
              <p class="label_category_name"
                [ngClass]="activeCategory == null  ? 'active_selection' : 'label_category_name'">
                Toate</p>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </div>
    <ion-grid fixed id="grid_shops_list" *ngIf="!categoriesDropdownIsActive">
      <!-- Loading Shops - View Skeleton -->
      <ion-row justify-content-center id="loading_shops_list" *ngIf='vendorsList == null'>
        <ion-col class="grid_column" size-xl="4" size-lg="6" size-md="6" size-xs="12"
          *ngFor="let skeleton of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,11,12,13]">
          <ion-card class="vendor_cardview vendor_skeleton">
            <ion-row align-items-center>
              <ion-col size="auto" class="col_vendor_logo">
                <img class="skeleton_vendor_logo" src="./assets/icon/icon_placeholder_marketplace.svg" alt="shop-image">
              </ion-col>
              <ion-col class="col_shop_info">
                <ion-skeleton-text animated class="skeleton_vendor_title"></ion-skeleton-text>
                <ion-skeleton-text animated class="skeleton_vendor_products_list"></ion-skeleton-text>
                <ion-skeleton-text animated class="skeleton_vendor_products_list"></ion-skeleton-text>
                <ion-skeleton-text animated class="skeleton_vendor_products_list"></ion-skeleton-text>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
      <!-- View Vendors List -->
      <ion-row justify-content-center *ngIf="vendorsList as vendors">
        <!-- Vendor Cardview -->
        <ion-col class="grid_column" size-xl="4" size-lg="6" size-md="6" size-xs="12"
          *ngFor="let vendor of vendors | filterByMetacategory: activeCategory; let i = index">
          <ion-card class="vendor_cardview" #shopCardview (click)="selectVendor(vendor)">
            <ion-row class="row_logo_and_commission ion-align-items-center">
              <ion-col size="3" class="col_vendor_logo">
                <img class="shop_logo"
                  onerror="this.onerror==null;this.src='./assets/icon/icon_placeholder_marketplace.svg'"
                  [src]="vendor.imageUrl" alt="shop-image">
              </ion-col>
              <ion-col size="9">
                <p class="label_title">
                  {{vendor.title}}
                </p>
                <p class="label_vendor_name">{{vendor.name}}</p>
                <p class="label_vendor_details">{{vendor.description ? (vendor.description | replaceComma) : vendor.description}}</p>
              </ion-col>
            </ion-row>
            <ion-row class="row_vendor_details">
              <ion-col size="4">
                <ng-container *ngTemplateOutlet="cashback; context: {vendor:vendor}"></ng-container>
              </ion-col>
              <ion-col size="4">
                <ng-container *ngTemplateOutlet="stock; context: {vendor:vendor}"></ng-container>
              </ion-col>
              <ion-col size="4">
                <ng-container *ngTemplateOutlet="minOrder; context: {vendor:vendor}"></ng-container>
              </ion-col>
            </ion-row>
            <!-- <ion-row class="row_vendor_details" *ngIf="vendor.deliveryType !== 'Minimum'">
                <ion-col size="6">
                  <ng-container *ngTemplateOutlet="cashback; context: {vendor:vendor}"></ng-container>
                </ion-col>
                <ion-col size="6">
                  <ng-container *ngTemplateOutlet="stock; context: {vendor:vendor}"></ng-container>
                </ion-col>
              </ion-row> -->
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
<ng-template #cashback let-vendor="vendor">
  <p class="label_details">
    <span>
      {{vendor.cashback}}
    </span>
    cashback
  </p>
</ng-template>

<ng-template #stock let-vendor="vendor">
  <p class="label_details">
    <span>
      {{vendor.productsInStock}} {{'pages.marketplaceTab.labelProducts' | translate}}
    </span>
    {{'pages.marketplaceTab.labelInStock' | translate}}
  </p>
</ng-template>

<ng-template #minOrder let-vendor="vendor">
  <p class="label_details">
    {{'pages.marketplaceTab.labelMinimumOrderValue' | translate}}
    <span>
      {{vendor.minimumOrderValue | currency:localeData?.currency:'symbol-narrow':'.0-2':localeData?.localeID}}
    </span>
  </p>
</ng-template>