<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91030328254-qfl5l1jgmc034jono2sgna1knbv4e0vl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91030328254-qfl5l1jgmc034jono2sgna1knbv4e0vl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>91030328254-7goptqtn09joe53k9d5kv6dkkod2n2hd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDzoORoMp-QQuqUY_rZQiIlZw4ubLfI9qU</string>
	<key>GCM_SENDER_ID</key>
	<string>91030328254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beez.marketplace</string>
	<key>PROJECT_ID</key>
	<string>beez-food-marketplace</string>
	<key>STORAGE_BUCKET</key>
	<string>beez-food-marketplace.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91030328254:ios:d172b9a35600665e37dfef</string>
	<key>DATABASE_URL</key>
	<string>https://beez-food-marketplace.firebaseio.com</string>
</dict>
</plist>